{% extends "master.html" %}
{% load lobbyist_extras %}

{%block content%}
<h1>Client {{client.client_name}}</h1>
<table>
  <tr><td>State</td><td>{{client.client_state}}</td></tr>
  <tr><td>Description</td><td>{{client.client_description}}</td></tr>
  <tr><td>Contact</td><td>{{client.client_contact_firstname}} {{client.client_contact_lastname}}</td></tr>
</table>
<h2>Top {{top}} filings by value</h2>
<div class="module-content">
<table class="minicharttable">
<td><b>Details</b></td>
<td><b>Filing amount</b></td>
<td><b>Registrant name</b></td>
<td><b>Filing Date</b></td>
{% for filing in filings %}
<tr>
<td> <a href="{{filing.filing_id|filingPdfLink}}">Details</a></td>
<td> <span class="name" style="width:100px">
      <span class="front">{{filing.filing_amount}}</span>
      {%if non_zero_sum%}
      <span class="index" style="width: {% widthratio filing.filing_amount filings_sum 100 %}%"/>
      {%endif%}
    </span>
</td>
<td><a href="{%url registrant_detail filing.registrant.registrant_senate_id%}">{{filing.registrant.registrant_name}}</a></td>
<td>{{filing.filing_date}}</td>
</tr>
{% endfor %}
</table>
</div>

{%endblock%}
