{% extends "master.html" %}

{%block content%}
<h1>Top {{top}} Issues</h1>

<h2>Total filings for issues: {{issues_sum}}</h2>

<div class="module-content">
<table class="minicharttable">
<td><b>Name</b></td>
<td><b>Filing count</b></td>
{% for issue in top_issues %}
<tr>
<td><span class="name">
      <a href="{% url issue_detail issue.issue_id %}">{{issue.code}}</a>
      <span class="index" style="width: {% widthratio issue.filing_set.count issues_sum 100 %}%"/> 
    </span>
</td>
<td>{{issue.filing_set.count}}</td>
</tr>
{% endfor %}
</table>
</div>

{%endblock%}
