{% extends "master.html" %}
{% load humanize %}
{% load lobbyist_extras %}
{%block content%}
<h1>Registrant {{registrant.registrant_name}}</h1>
<table>
  <tr><td>Address:</td><td>{{registrant.registrant_address}}</td></tr>
  {% ifnotequal registrant.registrant_description "unspecified" %}
  <tr><td>Description:</td><td>{{registrant.registrant_description}}</td></tr>
  {% endifnotequal %}
</table>

<h2>Top {{top}} filings by value</h2>
<div class="module-content">
<table class="minicharttable">
<td><b>Filing amount</b></td>
<td><b>Registrant name</b></td>
<td><b>Filing Date</b></td>
<td><b>Details</b></td>
{% for filing in filings %}
<tr>
<td align=right>
    <span class="name" style="width:100px">
      <span class="front">${{filing.filing_amount|intcomma}}</span>
      {%if nonzero_sum%}
      <span class="index" style="width: {% widthratio filing.filing_amount total_amount 100 %}%"/>
      {%endif%}
    </span>
</td>
<td><a href="{%url registrant_detail filing.registrant.id%}">{{filing.registrant.registrant_name}}</a></td>
<td>{{filing.filing_date}}</td>
<td> <a href="{{filing.filing_id|filingPdfLink}}">Details</a></td>
</tr>
{% endfor %}
</table>
</div>

{%endblock%}
